<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"/>
  </gazebo>

  <gazebo>
    <plugin name="joint1_controller" filename="libgazebo_ros_joint_position_controller.so">
      <robotNamespace>/</robotNamespace>
      <jointName>joint1</jointName>
      <pid>10.0 0.1 0.01</pid>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="joint2_controller" filename="libgazebo_ros_joint_position_controller.so">
      <robotNamespace>/</robotNamespace>
      <jointName>joint2</jointName>
      <pid>10.0 0.1 0.01</pid>
    </plugin>
  </gazebo>

</robot>
